<header class="app-header">
  <div class="header-content">
    <h1>Academia Global — Sistema de inscripciones</h1>
  </div>
</header>

<main class="app-main-container">
  <app-resumen></app-resumen>
  <div class="workspace-grid">
    
    <div class="column-form">
      <app-registro></app-registro>
    </div>

    <div class="column-table">
      <app-alumnos></app-alumnos>
    </div>

  </div>
</main>

<footer class="app-footer">
  <p>Academia Global — Prueba tecnica desarrollada por <strong>Jose Alfonso Renteria Simental</strong></p>
</footer>
