<div class="resumen-container">
  <div class="card card-activos">
    <div class="card-info">
      <h3>Alumnos Activos</h3>
      <p class="card-number">{{ activeCount }}</p>
    </div>
  </div>

  <div class="card card-baja-empresa">
    <div class="card-info">
      <h3>Bajas por Empresa</h3>
      <p class="card-number">{{ bajaEmpresaCount }}</p>
    </div>
  </div>

  <div class="card card-baja-programa">
    <div class="card-info">
      <h3>Bajas por Programa</h3>
      <p class="card-number">{{ bajaProgramaCount }}</p>
    </div>
  </div>
</div>
